.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1.125rem 0 .625rem 0;
    text-transform: uppercase;
}

.swiper-slide img {
    width: 100%;
}

.swiper {
    margin: 1.5625rem 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.card__botões {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botões {
    display: flex;
    padding: .625rem;
    gap: 1.25rem;
    align-items: center;
}

.card {
    background: var(--branco);
    box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.25);
    border-radius: .625rem;
    margin: 1rem;
    padding: 1rem;
}

.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descrição__titulo-livro {
    font-size: 1.125rem;
    font-weight: 700;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;   /* prende o background no texto */
    margin: .5rem 0;
}

.descrição__texto {
    font-size: .875rem;
}

.botões__ancora {
    background-color: var(--laranja);
    text-decoration: none;
    padding: .75rem 2.1875rem;
    font-weight: 700;
    color: var(--branco);
}

.descrição {
    line-height: 1.25rem;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
        padding-top: 50px;
    }

    .swiper {
        width: 60%;
        margin: 50px 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
    display: block !important;
    }

    .card {
        width: 40%;
        margin: 30px auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__titulo {
        font-size: 32px;
    }

    .carrossel__container {
        display: flex;
        margin: 3rem 20vw 3rem 20vw;
        align-items: center;
        gap: 3rem;
    }

    .swiper {
        width: 100%;
    }

    .descrição__titulo {
        font-size: 24px;
        line-height: 2rem;
    }

    .descrição__texto {
        font-size: 16px
    }

    .descrição {
        margin-right: 3rem;
    }

    .card {
        width: 100%;
        margin-left: 3rem;
    }


}