.contato {
    background-color: var(--branco);
    padding: 1.25rem;

}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;   /* prende o background no texto */
}

.contato__titulo {
    font-size: 1.125rem;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    line-height: 1.25rem;
    margin: 1rem 0;
}

.contato__email {
    background-color: transparent;
    border: .0625rem solid var(--azul);
    border-radius: 1.5rem;
    padding: 1rem;
    width: 90%;
    color: var(--azul);
    outline: none;
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/envelope.svg");
    background-repeat: no-repeat;
    background-position: .625rem;
    padding-left: 2.5rem;
}

@media screen and (min-width: 1024px) {
    .contato {
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    .contato__email {
        width: 30%;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__descricao {
        margin-right: 80px;
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3rem 25vw;
    }
}