.cabeçalho__menu__hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;   /* jogou cada div para um canto */
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

/* faz a lista desaparecer */
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;   /* tirou totalmente do cabeçalho */
    width: 60vw;
}

/* se o botao estiver "checked", ele transforma a lista em "diaplay:block" */
.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;   /* prende o background no texto */
    text-transform: uppercase;  /* deixa tudo maiúsculo */
}

.container__botao {
    display: none;  /* esconde o check do input */
}

